.elementor-642 .elementor-element.elementor-element-232688b6{--min-height:100vh;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--gap:0px;--overflow:hidden;--background-transition:0.3s;--overlay-opacity:0.5;--padding-top:0%;--padding-right:10%;--padding-bottom:0%;--padding-left:10%;}.elementor-642 .elementor-element.elementor-element-232688b6::before, .elementor-642 .elementor-element.elementor-element-232688b6 > .elementor-background-video-container::before, .elementor-642 .elementor-element.elementor-element-232688b6 > .e-con-inner > .elementor-background-video-container::before, .elementor-642 .elementor-element.elementor-element-232688b6 > .elementor-background-slideshow::before, .elementor-642 .elementor-element.elementor-element-232688b6 > .e-con-inner > .elementor-background-slideshow::before{--background-overlay:'';background-color:transparent;background-image:linear-gradient(150deg, #000000 0%, #B3B3B340 100%);}.elementor-642 .elementor-element.elementor-element-232688b6, .elementor-642 .elementor-element.elementor-element-232688b6::before{--border-transition:0.3s;}.elementor-642 .elementor-element.elementor-element-56b35ee1{--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:flex-start;--align-items:center;--background-transition:0.3s;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-642 .elementor-element.elementor-element-217f07e8{--min-height:600px;--justify-content:space-between;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;--position:absolute;bottom:0px;}.elementor-642 .elementor-element.elementor-element-217f07e8, .elementor-642 .elementor-element.elementor-element-217f07e8::before{--border-transition:0.3s;}body:not(.rtl) .elementor-642 .elementor-element.elementor-element-217f07e8{left:0px;}body.rtl .elementor-642 .elementor-element.elementor-element-217f07e8{right:0px;}.elementor-642 .elementor-element.elementor-element-53d4589f{--justify-content:center;--align-items:flex-start;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;--padding-top:0%;--padding-right:15%;--padding-bottom:0%;--padding-left:15%;}.elementor-642 .elementor-element.elementor-element-4e908379{--align-items:flex-start;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--overflow:hidden;--background-transition:0.3s;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-642 .elementor-element.elementor-element-75934c61 .elementor-heading-title{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:64px;font-weight:600;line-height:1.15em;}.elementor-642 .elementor-element.elementor-element-49b5ad63 .elementor-heading-title{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:64px;font-weight:600;line-height:1.15em;}.elementor-642 .elementor-element.elementor-element-23b78b40 .elementor-heading-title{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:64px;font-weight:600;line-height:1.15em;}.elementor-642 .elementor-element.elementor-element-6d75cff6 .elementor-heading-title{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:64px;font-weight:600;line-height:1.15em;}.elementor-642 .elementor-element.elementor-element-35bad9ca .elementor-heading-title{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:64px;font-weight:600;line-height:1.15em;}.elementor-642 .elementor-element.elementor-element-2255320d{--overflow:hidden;--background-transition:0.3s;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-642 .elementor-element.elementor-element-189f242d{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:16px;font-weight:400;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-642 .elementor-element.elementor-element-4901219e{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:16px;font-weight:400;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-642 .elementor-element.elementor-element-45f52984{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:16px;font-weight:400;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-642 .elementor-element.elementor-element-7776dc67{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:16px;font-weight:400;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-642 .elementor-element.elementor-element-78242784{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:16px;font-weight:400;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-642 .elementor-element.elementor-element-34d398c4{--overflow:hidden;--background-transition:0.3s;--margin-top:-15px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-642 .elementor-element.elementor-element-3e233871 .elementor-button{font-family:"DM Sans", Sans-serif;font-weight:500;background-color:#f57c00;padding:15px 30px 15px 30px;}.elementor-642 .elementor-element.elementor-element-2ad628be .elementor-button{font-family:"DM Sans", Sans-serif;font-weight:500;background-color:#f57c00;padding:15px 30px 15px 30px;}.elementor-642 .elementor-element.elementor-element-41d0a954 .elementor-button{font-family:"DM Sans", Sans-serif;font-weight:500;background-color:#f57c00;padding:15px 30px 15px 30px;}.elementor-642 .elementor-element.elementor-element-2371111b .elementor-button{font-family:"DM Sans", Sans-serif;font-weight:500;background-color:#f57c00;padding:15px 30px 15px 30px;}.elementor-642 .elementor-element.elementor-element-1b7d73f6 .elementor-button{font-family:"DM Sans", Sans-serif;font-weight:500;background-color:#f57c00;padding:15px 30px 15px 30px;}.elementor-642 .elementor-element.elementor-element-1314129b{--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-642 .elementor-element.elementor-element-65bba961.elementor-arrows-yes .elementor-main-swiper{width:calc( 1400px - 40px );}.elementor-642 .elementor-element.elementor-element-65bba961 .elementor-main-swiper{width:1400px;}.elementor-642 .elementor-element.elementor-element-65bba961 .elementor-main-swiper .swiper-slide{padding:20px 20px 25px 20px;}.elementor-642 .elementor-element.elementor-element-65bba961 .elementor-testimonial__text{font-family:"Roboto", Sans-serif;font-weight:400;}.elementor-642 .elementor-element.elementor-element-65bba961 .elementor-testimonial__name{color:#FFFFFF;font-family:"DM Sans", Sans-serif;font-size:19px;font-weight:500;line-height:1.3em;}.elementor-642 .elementor-element.elementor-element-65bba961 .elementor-testimonial__title{color:#B7B7B7B8;font-family:"Poppins", Sans-serif;font-size:14px;font-weight:500;}body.rtl .elementor-642 .elementor-element.elementor-element-65bba961.elementor-testimonial--layout-image_inline.elementor-testimonial--align-left .elementor-testimonial__image + cite,
					 body.rtl .elementor-642 .elementor-element.elementor-element-65bba961.elementor-testimonial--layout-image_above.elementor-testimonial--align-left .elementor-testimonial__image + cite,
					 body:not(.rtl) .elementor-642 .elementor-element.elementor-element-65bba961.elementor-testimonial--layout-image_inline .elementor-testimonial__image + cite,
					 body:not(.rtl) .elementor-642 .elementor-element.elementor-element-65bba961.elementor-testimonial--layout-image_above .elementor-testimonial__image + cite{margin-left:0px;margin-right:0;}body:not(.rtl) .elementor-642 .elementor-element.elementor-element-65bba961.elementor-testimonial--layout-image_inline.elementor-testimonial--align-right .elementor-testimonial__image + cite,
					 body:not(.rtl) .elementor-642 .elementor-element.elementor-element-65bba961.elementor-testimonial--layout-image_above.elementor-testimonial--align-right .elementor-testimonial__image + cite,
					 body.rtl .elementor-642 .elementor-element.elementor-element-65bba961.elementor-testimonial--layout-image_inline .elementor-testimonial__image + cite,
					 body.rtl .elementor-642 .elementor-element.elementor-element-65bba961.elementor-testimonial--layout-image_above .elementor-testimonial__image + cite{margin-right:0px;margin-left:0;}.elementor-642 .elementor-element.elementor-element-65bba961.elementor-testimonial--layout-image_stacked .elementor-testimonial__image + cite,
					 .elementor-642 .elementor-element.elementor-element-65bba961.elementor-testimonial--layout-image_left .elementor-testimonial__image + cite,
					 .elementor-642 .elementor-element.elementor-element-65bba961.elementor-testimonial--layout-image_right .elementor-testimonial__image + cite{margin-top:0px;}.elementor-642 .elementor-element.elementor-element-65bba961 .elementor-swiper-button{font-size:20px;color:#474345;}.elementor-642 .elementor-element.elementor-element-65bba961 .elementor-swiper-button svg{fill:#474345;}.elementor-642 .elementor-element.elementor-element-65bba961 > .elementor-widget-container{margin:0px 0px -30px 0px;}.elementor-642 .elementor-element.elementor-element-2f52ed36{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--gap:17px;--background-transition:0.3s;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-642 .elementor-element.elementor-element-6180398d .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-642 .elementor-element.elementor-element-6180398d .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-642 .elementor-element.elementor-element-6180398d .elementor-button{font-family:"Roboto", Sans-serif;font-weight:500;fill:#2C2B2B;color:#2C2B2B;background-color:#BDBDBD9C;border-radius:100px 100px 100px 100px;padding:12px 14px 12px 14px;}body:not(.rtl) .elementor-642 .elementor-element.elementor-element-6180398d{left:0px;}body.rtl .elementor-642 .elementor-element.elementor-element-6180398d{right:0px;}.elementor-642 .elementor-element.elementor-element-6180398d{top:0px;}.elementor-642 .elementor-element.elementor-element-1fa7db3c .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-642 .elementor-element.elementor-element-1fa7db3c .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-642 .elementor-element.elementor-element-1fa7db3c .elementor-button{font-family:"Roboto", Sans-serif;font-weight:500;fill:#2C2B2B;color:#2C2B2B;background-color:#BDBDBD9C;border-radius:100px 100px 100px 100px;padding:12px 14px 12px 14px;}body:not(.rtl) .elementor-642 .elementor-element.elementor-element-1fa7db3c{right:0px;}body.rtl .elementor-642 .elementor-element.elementor-element-1fa7db3c{left:0px;}.elementor-642 .elementor-element.elementor-element-1fa7db3c{top:0px;}@media(max-width:1024px){.elementor-642 .elementor-element.elementor-element-217f07e8{--min-height:500px;}.elementor-642 .elementor-element.elementor-element-53d4589f{--padding-top:0%;--padding-right:5%;--padding-bottom:0%;--padding-left:3%;}.elementor-642 .elementor-element.elementor-element-75934c61 .elementor-heading-title{font-size:50px;}.elementor-642 .elementor-element.elementor-element-49b5ad63 .elementor-heading-title{font-size:50px;}.elementor-642 .elementor-element.elementor-element-23b78b40 .elementor-heading-title{font-size:50px;}.elementor-642 .elementor-element.elementor-element-6d75cff6 .elementor-heading-title{font-size:50px;}.elementor-642 .elementor-element.elementor-element-35bad9ca .elementor-heading-title{font-size:50px;}.elementor-642 .elementor-element.elementor-element-65bba961.elementor-arrows-yes .elementor-main-swiper{width:calc( 620px - 40px );}.elementor-642 .elementor-element.elementor-element-65bba961 .elementor-main-swiper{width:620px;}}@media(min-width:768px){.elementor-642 .elementor-element.elementor-element-56b35ee1{--width:50%;}.elementor-642 .elementor-element.elementor-element-217f07e8{--width:30px;}.elementor-642 .elementor-element.elementor-element-1314129b{--width:50%;}}@media(max-width:1024px) and (min-width:768px){.elementor-642 .elementor-element.elementor-element-56b35ee1{--width:65%;}.elementor-642 .elementor-element.elementor-element-1314129b{--width:35%;}}@media(max-width:767px){.elementor-642 .elementor-element.elementor-element-232688b6{--min-height:0vh;--padding-top:60px;--padding-right:30px;--padding-bottom:90px;--padding-left:30px;}.elementor-642 .elementor-element.elementor-element-56b35ee1{--justify-content:center;}.elementor-642 .elementor-element.elementor-element-217f07e8{--width:200px;--min-height:30px;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;bottom:-175px;}.elementor-642 .elementor-element.elementor-element-217f07e8.e-con{--align-self:flex-start;--order:-99999 /* order start hack */;--flex-grow:0;--flex-shrink:0;}body:not(.rtl) .elementor-642 .elementor-element.elementor-element-217f07e8{left:50%;}body.rtl .elementor-642 .elementor-element.elementor-element-217f07e8{right:50%;}.elementor-642 .elementor-element.elementor-element-53d4589f{--padding-top:0px;--padding-right:0px;--padding-bottom:50px;--padding-left:0px;}.elementor-642 .elementor-element.elementor-element-75934c61 .elementor-heading-title{font-size:30px;}.elementor-642 .elementor-element.elementor-element-49b5ad63 .elementor-heading-title{font-size:30px;}.elementor-642 .elementor-element.elementor-element-23b78b40 .elementor-heading-title{font-size:30px;}.elementor-642 .elementor-element.elementor-element-6d75cff6 .elementor-heading-title{font-size:30px;}.elementor-642 .elementor-element.elementor-element-35bad9ca .elementor-heading-title{font-size:30px;}.elementor-642 .elementor-element.elementor-element-34d398c4{--margin-top:-20px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;}.elementor-642 .elementor-element.elementor-element-65bba961.elementor-arrows-yes .elementor-main-swiper{width:calc( 100% - 40px );}.elementor-642 .elementor-element.elementor-element-65bba961 .elementor-main-swiper{width:100%;}.elementor-642 .elementor-element.elementor-element-65bba961{width:var( --container-widget-width, 300px );max-width:300px;--container-widget-width:300px;--container-widget-flex-grow:0;}.elementor-642 .elementor-element.elementor-element-65bba961.elementor-element{--align-self:center;}.elementor-642 .elementor-element.elementor-element-2f52ed36{--justify-content:center;}body:not(.rtl) .elementor-642 .elementor-element.elementor-element-6180398d{left:0px;}body.rtl .elementor-642 .elementor-element.elementor-element-6180398d{right:0px;}.elementor-642 .elementor-element.elementor-element-6180398d{top:-105px;}body:not(.rtl) .elementor-642 .elementor-element.elementor-element-1fa7db3c{right:0px;}body.rtl .elementor-642 .elementor-element.elementor-element-1fa7db3c{left:0px;}.elementor-642 .elementor-element.elementor-element-1fa7db3c{top:-105px;}}/* Start custom CSS for container, class: .elementor-element-217f07e8 */.elementor-642 .elementor-element.elementor-element-217f07e8{
    --dot-size: 23px;
    --line-color: #B0B7D04D;
    --dot-color: #B0B7D0;
    --dot-color-active: #B0B7D0;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.elementor-642 .elementor-element.elementor-element-217f07e8{
    height: 80vh;
    height: var(--min-height);
    max-height: 80vh;
    min-height: 0 !important;
}
.elementor-642 .elementor-element.elementor-element-217f07e8 .dot{
    height: var(--dot-size);
    width: var(--dot-size);
    background: var(--dot-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: scale(0.3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.elementor-642 .elementor-element.elementor-element-217f07e8 .dot-number{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.elementor-642 .elementor-element.elementor-element-217f07e8 .dot.active{
    transform: scale(1);
    background: var(--dot-color-active);
}
.elementor-642 .elementor-element.elementor-element-217f07e8 .dot.active .dot-number{
    opacity: 1;
}
.elementor-642 .elementor-element.elementor-element-217f07e8:before{
    content: "";
    position: absolute;
    top: 50%;
    height: calc(100% - 20px);
    max-height: 90vh;
    width: 1px;
    background: var(--line-color);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 767px){
.elementor-642 .elementor-element.elementor-element-217f07e8{
    transform: translateX(-50%);
    flex-wrap: nowrap !important;
}
.elementor-642 .elementor-element.elementor-element-217f07e8:before {
    width: calc(100% - 20px);
    height: 1px;

}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-4e908379 */.elementor-642 .elementor-element.elementor-element-4e908379{
    --speed: 0.8s;
    --gap: 40px;
}
.elementor-642 .elementor-element.elementor-element-4e908379{
    transition: all 0.3s ease-in-out;
    height: var(--h);
    --height: calc(var(--h) + var(--gap));
}
.elementor-642 .elementor-element.elementor-element-4e908379 .elementor-widget{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.elementor-642 .elementor-element.elementor-element-4e908379 .elementor-widget .elementor-widget-container{
    transform: translateY(calc(-10 * var(--height)));
}
.elementor-642 .elementor-element.elementor-element-4e908379 .elementor-widget.prev .elementor-widget-container{
    animation: prev var(--speed) ease-in-out;
    transform: translateY(calc(-1 * var(--height)));
}
.elementor-642 .elementor-element.elementor-element-4e908379 .elementor-widget.next .elementor-widget-container{
    animation: next var(--speed) ease-in-out;
    transform: translateY(var(--height));
}
.elementor-642 .elementor-element.elementor-element-4e908379 .elementor-widget.currentUp,
.elementor-642 .elementor-element.elementor-element-4e908379 .elementor-widget.currentDown{
    z-index: 1;
}
.elementor-642 .elementor-element.elementor-element-4e908379 .elementor-widget.currentUp .elementor-widget-container{
    animation: currentUp var(--speed) ease-in-out;
    transform: translateY(0);
}
.elementor-642 .elementor-element.elementor-element-4e908379 .elementor-widget.currentDown .elementor-widget-container{
    animation: currentDown var(--speed) ease-in-out;
    transform: translateY(0);
}

@keyframes prev {
  0%   {transform: translateY(0);}
  100%   {transform: translateY(calc(-1 * var(--height)));}
}

@keyframes next {
  0%   {transform: translateY(0);}
  100%   {transform: translateY(var(--height));}
}

@keyframes currentUp {
  0%   {transform: translateY(var(--height));}
  100%   {transform: translateY(0);}
}

@keyframes currentDown {
  0%   {transform: translateY(calc(-1 * var(--height)));}
  100%   {transform: translateY(0);}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-2255320d */.elementor-642 .elementor-element.elementor-element-2255320d{
    --speed: 0.5s;
    --gap: 40px;
}
.elementor-642 .elementor-element.elementor-element-2255320d{
    transition: all 0.3s ease-in-out;
    height: var(--h);
    --height: calc(var(--h) + var(--gap));
}
.elementor-642 .elementor-element.elementor-element-2255320d .elementor-widget{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.elementor-642 .elementor-element.elementor-element-2255320d .elementor-widget .elementor-widget-container{
    transform: translateY(calc(-10 * var(--height)));
}
.elementor-642 .elementor-element.elementor-element-2255320d .elementor-widget.prev .elementor-widget-container{
    animation: prev var(--speed) ease-in-out;
    transform: translateY(calc(-1 * var(--height)));
}
.elementor-642 .elementor-element.elementor-element-2255320d .elementor-widget.next .elementor-widget-container{
    animation: next var(--speed) ease-in-out;
    transform: translateY(var(--height));
}
.elementor-642 .elementor-element.elementor-element-2255320d .elementor-widget.currentUp,
.elementor-642 .elementor-element.elementor-element-2255320d .elementor-widget.currentDown{
    z-index: 1;
}
.elementor-642 .elementor-element.elementor-element-2255320d .elementor-widget.currentUp .elementor-widget-container{
    animation: currentUp var(--speed) ease-in-out;
    transform: translateY(0);
}
.elementor-642 .elementor-element.elementor-element-2255320d .elementor-widget.currentDown .elementor-widget-container{
    animation: currentDown var(--speed) ease-in-out;
    transform: translateY(0);
}

@keyframes prev {
  0%   {transform: translateY(0);}
  100%   {transform: translateY(calc(-1 * var(--height)));}
}

@keyframes next {
  0%   {transform: translateY(0);}
  100%   {transform: translateY(var(--height));}
}

@keyframes currentUp {
  0%   {transform: translateY(var(--height));}
  100%   {transform: translateY(0);}
}

@keyframes currentDown {
  0%   {transform: translateY(calc(-1 * var(--height)));}
  100%   {transform: translateY(0);}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-34d398c4 */.elementor-642 .elementor-element.elementor-element-34d398c4{
    --speed: 0.5s;
    --gap: 40px;
}
.elementor-642 .elementor-element.elementor-element-34d398c4{
    transition: all 0.3s ease-in-out;
    height: var(--h);
    --height: calc(var(--h) + var(--gap));
}
.elementor-642 .elementor-element.elementor-element-34d398c4 .elementor-widget{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.elementor-642 .elementor-element.elementor-element-34d398c4 .elementor-widget .elementor-widget-container{
    transform: translateY(calc(-10 * var(--height)));
}
.elementor-642 .elementor-element.elementor-element-34d398c4 .elementor-widget.prev .elementor-widget-container{
    animation: prev var(--speed) ease-in-out;
    transform: translateY(calc(-1 * var(--height)));
}
.elementor-642 .elementor-element.elementor-element-34d398c4 .elementor-widget.next .elementor-widget-container{
    animation: next var(--speed) ease-in-out;
    transform: translateY(var(--height));
}
.elementor-642 .elementor-element.elementor-element-34d398c4 .elementor-widget.currentUp,
.elementor-642 .elementor-element.elementor-element-34d398c4 .elementor-widget.currentDown{
    z-index: 1;
}
.elementor-642 .elementor-element.elementor-element-34d398c4 .elementor-widget.currentUp .elementor-widget-container{
    animation: currentUp var(--speed) ease-in-out;
    transform: translateY(0);
}
.elementor-642 .elementor-element.elementor-element-34d398c4 .elementor-widget.currentDown .elementor-widget-container{
    animation: currentDown var(--speed) ease-in-out;
    transform: translateY(0);
}

@keyframes prev {
  0%   {transform: translateY(0);}
  100%   {transform: translateY(calc(-1 * var(--height)));}
}

@keyframes next {
  0%   {transform: translateY(0);}
  100%   {transform: translateY(var(--height));}
}

@keyframes currentUp {
  0%   {transform: translateY(var(--height));}
  100%   {transform: translateY(0);}
}

@keyframes currentDown {
  0%   {transform: translateY(calc(-1 * var(--height)));}
  100%   {transform: translateY(0);}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-53d4589f */@media (max-width: 1750px) and (min-width: 1381px){
.elementor-642 .elementor-element.elementor-element-53d4589f{
    padding-left: 8%;
    padding-right: 12%;
}
}
@media (max-width: 1380px) and (min-width: 768px){
.elementor-642 .elementor-element.elementor-element-53d4589f{
    padding-left: 0.5%;
    padding-right: 5.5%;
}
}
@media (max-width: 767px){
    .elementor-642 .elementor-element.elementor-element-53d4589f {
        --padding-top: 68px !important;
        --padding-right: 0px !important;
        --padding-bottom:50px !important;
        --padding-left: 0px !important;
    }
    }
/* End custom CSS */
/* Start custom CSS for testimonial-carousel, class: .elementor-element-65bba961 */.elementor-642 .elementor-element.elementor-element-65bba961{
    --radius: 8px;
    --height: 220px;
    --active-height: 260px;
    --overlay: 0.75;
}
.elementor-642 .elementor-element.elementor-element-65bba961{
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.8s ease-in-out;
}
.elementor-642 .elementor-element.elementor-element-65bba961.loaded{
    opacity: 1;
    transform: translateX(0);
}

.elementor-642 .elementor-element.elementor-element-65bba961 .swiper-wrapper{
    height: var(--active-height);
    align-items: center;
}
.elementor-642 .elementor-element.elementor-element-65bba961:not(.loaded) .swiper-wrapper{
    transition-duration: 0s !important;
}
.elementor-642 .elementor-element.elementor-element-65bba961 .swiper-slide{
    display: flex;
    align-items: flex-end;
    border-radius: var(--radius);
    height: var(--height);
    box-shadow: 0 0 50px rgba(0,0,0,0.15);
}
.elementor-642 .elementor-element.elementor-element-65bba961.loaded .swiper-slide{
    transition: all 0.3s ease-in-out 0.2s;
}
.elementor-642 .elementor-element.elementor-element-65bba961 .swiper-slide.swiper-slide-active{
    height: var(--active-height);
}
.elementor-642 .elementor-element.elementor-element-65bba961 .swiper-slide:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(20deg, rgba(0,0,0,var(--overlay)) 0%, rgba(0,0,0,0) 100%);
    height: 100%;
    width: 100%;
    z-index: 1;
}
.elementor-642 .elementor-element.elementor-element-65bba961 .elementor-testimonial__footer{
    display: block;
}
.elementor-642 .elementor-element.elementor-element-65bba961 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
}
.elementor-642 .elementor-element.elementor-element-65bba961 .elementor-testimonial__cite{
    z-index: 2;
    position: relative;
}
.elementor-642 .elementor-element.elementor-element-65bba961 .elementor-testimonial__name{
    margin-bottom: 5px;
}
.elementor-642 .elementor-element.elementor-element-65bba961 .swiper-pagination,
.elementor-642 .elementor-element.elementor-element-65bba961 .elementor-swiper-button{
    display: none;
}
.elementor-642 .elementor-element.elementor-element-65bba961 .swiper-container{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1024px){
.elementor-642 .elementor-element.elementor-element-65bba961{
    --height: 180px;
    --active-height: 250px;
}
}
@media (max-width: 767px){
.elementor-642 .elementor-element.elementor-element-65bba961{
    --height: 80px;
    --active-height: 105px;
    width: 100% !important;
    max-width: var(--container-widget-width, 300px) !important;
}
.elementor-642 .elementor-element.elementor-element-65bba961 .elementor-testimonial__cite{
    opacity: 0;
}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-232688b6 */.elementor-642 .elementor-element.elementor-element-232688b6{
    background: #fff;
    --background-speed: 0.5s;
}
.elementor-642 .elementor-element.elementor-element-232688b6 .elementor-background-slideshow{
    display: none;
}
.elementor-642 .elementor-element.elementor-element-232688b6 .as-slider-background,
.elementor-642 .elementor-element.elementor-element-232688b6 .as-slider-background img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}
.elementor-642 .elementor-element.elementor-element-232688b6 .as-slider-background img{
    object-fit: cover;
    opacity: 0;
    transform: scale(1.1);
}
.elementor-642 .elementor-element.elementor-element-232688b6 .as-slider-background img.prev,
.elementor-642 .elementor-element.elementor-element-232688b6 .as-slider-background img.currentBackward,
.elementor-642 .elementor-element.elementor-element-232688b6 .as-slider-background img.currentForward{
    opacity: 1;
    transform: scale(1.1);
}

.elementor-642 .elementor-element.elementor-element-232688b6 .as-slider-background img.currentBackward,
.elementor-642 .elementor-element.elementor-element-232688b6 .as-slider-background img.currentForward{
    z-index: 1;
    opacity: 1;
    animation: bgNext var(--background-speed) linear;
    transition: all 1s ease-in-out;
    transform: scale(1);
}

.elementor-642 .elementor-element.elementor-element-232688b6:before{
    z-index: 2;
}
.elementor-642 .elementor-element.elementor-element-232688b6 > .elementor-element{
    z-index: 3;
    /* margin-left: -110px; */
}

.elementor-642 .elementor-element.elementor-element-232688b6 .as-bar,
.elementor-642 .elementor-element.elementor-element-232688b6 .as-slider-left,
.elementor-642 .elementor-element.elementor-element-232688b6 .as-slider-right{
    opacity: 0;
    transition: all 0.8s ease-in-out;
}
.elementor-642 .elementor-element.elementor-element-232688b6.loaded .as-bar,
.elementor-642 .elementor-element.elementor-element-232688b6.loaded .as-slider-left,
.elementor-642 .elementor-element.elementor-element-232688b6.loaded .as-slider-right{
    opacity: 1;
   
}
.elementor-642 .elementor-element.elementor-element-232688b6.loaded .as-bar{
    margin-left: -120px !important ;
}
@media (max-width: 1380px) and (min-width: 375px){
    .elementor-642 .elementor-element.elementor-element-232688b6.loaded .as-bar{
        margin-left:0px !important ;
    }
    }
.elementor-642 .elementor-element.elementor-element-65bba961.elementor-arrows-yes .elementor-main-swiper{
    margin-top: 55%;
}
/*.elementor-642 .elementor-element.elementor-element-232688b6 .ds-slider-left a:focus,*/
/*.elementor-642 .elementor-element.elementor-element-232688b6 .ds-slider-right a:focus{*/
/*    outline: none !important;*/
/*}*/

@keyframes bgNext {
  0%   {opacity: 0; transform: scale(1.1);}
  100%   {opacity: 1; transform: scale(1);}
}

@media (min-width: 768px){
.elementor-642 .elementor-element.elementor-element-232688b6 .as-bar,
.elementor-642 .elementor-element.elementor-element-232688b6 .as-slider-left,
.elementor-642 .elementor-element.elementor-element-232688b6 .as-slider-right{
    position: relative;
}
}

@media (max-width: 1380px) and (min-width: 768px){
.elementor-642 .elementor-element.elementor-element-232688b6{
    padding-left: 4%;
    padding-right: 4%;
}
}
@media (max-width: 1024px) and (min-width: 768px){
    .elementor-642 .elementor-element.elementor-element-65bba961.elementor-arrows-yes .elementor-main-swiper{
      
        margin-top:0px
    }
}
@media(max-width: 375px){
    .elementor-642 .elementor-element.elementor-element-65bba961.elementor-arrows-yes .elementor-main-swiper{
        margin-left: 0px;
        margin-top:0px
    }
}
@media(max-width: 500px){
    .elementor-642 .elementor-element.elementor-element-65bba961.elementor-arrows-yes .elementor-main-swiper{
        margin-left: 0px;
        margin-top:0px
    }
}
@media (max-width: 767px){
.elementor-642 .elementor-element.elementor-element-232688b6 .as-slider-left{
    left: calc(50% - 300px/2) !important;
}
.elementor-642 .elementor-element.elementor-element-232688b6 .as-slider-right{
    right: calc(50% - 300px/2) !important;
}
}/* End custom CSS */