
body{
    font-family: 'Sora',sans-serif;
}
.privacypolicyH1{
    margin-top: 10px;
    background-color: #f57c00;
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 5rem;
    font-size: 45px;
}



main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f5f5f59d;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

section {
    margin-bottom: 2rem;
}

.privacypolicyH2 {
    font-size: 1.5rem;
    /* border-bottom: 1px solid #ccc; */
    padding-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}



/* Add some spacing between paragraphs within sections */
section p:not(:last-child) {
    margin-bottom: 1.5rem;
}


#webcoderskull{
    position: absolute;
    left: 120px;
    top: 5%;
    margin-bottom: 0;
    right: 120px;
    
}

canvas{
    height:170vh;
    background-color: #121820;
    /* background-image: linear-gradient(rgb(236, 155, 5),rgba(0, 0, 0, 0.959)) */
    
}

@media (max-width:1024px) {
    
    canvas{
        height:  277vh
    }
  }

@media (max-width:890px) {
    #webcoderskull{
        left:60px ;
        right: 60px;
    }
    canvas{
        height:  600vh
    }
  }
 
  @media (max-width:820px) {
    #webcoderskull{
        left:60px ;
        right: 60px;
    }
    canvas{
        height:  190vh
    }
  }
  @media (max-width:768px) {
    #webcoderskull{
        left:100px ;
    }
    canvas{
        height:  227vh
    }
  }
  @media (max-width:700px) {
    #webcoderskull{
        left:20px ;
        right: 20px;
    }
    canvas{
        height:  355vh
    }
  }

  @media (max-width:390px) {
    #webcoderskull{
        left:20px ;
        right: 20px;
    }
    canvas{
        height:  487vh
    }
  }